@using Intranet.Labor.ViewModel;
@model  ICollection<ProductionOrderItem>

<th>
    <div>
        @foreach (var po in @Model)
        {
            <a class="no-underline-hyperlink" href="@Url.Action( po.Action, po.Controller, new { area = "Labor", id = po.SheetId } )">

                <div class="dashboard-box-a">
                    <div class="dashboard-box-@po.RwType">
                        @po.ProductionOrderName


                        @if (po.HasNotes && (po.Notes != null))
                        {
                            <button class="note-button" data-toggle="collapse" href="#collapseNotes-@po.SheetId" aria-expanded="false" aria-controls="#collapseNotes-@po.SheetId">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @po.Notes.Count
                            </button>
                                        <div class="collapse" id="collapseNotes-@po.SheetId">
                                            <div class="card card-block dashboard-notes">

                                                <table id="notes-@po.SheetId" class="table table-striped table-bordered sortable">
                                                    <thead>
                                                        <tr>
                                                            <th>Code </th>
                                                            <th>Meldung</th>
                                                            <th>Nachricht</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var note in po?.Notes)
                                                        {
                                                            <tr>
                                                                <td>@note.Code</td>
                                                                <td>@note.ErrorMessage</td>
                                                                <td>@note.Message</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                        }


                        <button class="btn btn-link" data-toggle="collapse" href="#collapseInfo-@po.SheetId" aria-expanded="false" aria-controls="#collapseInfo-@po.SheetId">
                            &#216;
                        </button>
                        <div class="collapse" id="collapseInfo-@po.SheetId">
                            <div class="card card-block dashboard-notes">

                                <table id="notes-@po.SheetId" class="table table-striped table-bordered sortable">
                                    <thead>
                                        <tr>
                                            <th>Inhalt </th>
                                            <th>Wert</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var info in po?.DashboardInfos)
                                        {
                                            <tr class="laborcreatorcolor-@info.RwType">
                                                <td>@info.InfoKey</td>
                                                <td>@info.InfoValue</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                </div>
            </a>
        }
    </div>

</th>

