@model Intranet.Labor.ViewModel.LaborDashboardViewModel

@{
    ViewBag.Title = "Intigena Intranet - Labor Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="body-content">

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Schicht 0</th>
            <th>Schicht -1</th>
            <th>Schicht -2</th>
            <th>Schicht -3</th>
        </tr>
        </thead>
        <tbody>

        @foreach ( var item in Model.DashboardItem )
        {
            <tr>
                <th>@item.MachineName</th>
                @foreach ( var shift in item.ShiftItems )
                {
                    <th>
                        <div>
                            @foreach ( var po in shift.ProductionOrderItems )
                            {
                                <a class="no-underline-hyperlink" href="@Url.Action( po.Action, po.Controller, new { area = "Labor" } )">

                                    <div class="dashboard-box-a">
                                        <div class="dashboard-box-@po.RwType">
                                                @po.ProductionOrderName
                                            

                                            @if ( po.HasNotes && ( po.Notes != null ) )
                                            {
                                                <button class="note-button" data-toggle="collapse" href="#collapseNotes-@po.SheetId" aria-expanded="false" aria-controls="#collapseNotes-@po.SheetId">
                                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @po.Notes.Count
                                                </button>
                                                <div class="collapse" id="collapseNotes-@po.SheetId">
                                                    <div class="card card-block dashboard-notes">

                                                        <table id="notes-@po.SheetId" class="table table-striped table-bordered sortable">
                                                            <thead>
                                                            <tr>
                                                                <th>Code </th>
                                                                <th>Meldung</th>
                                                                <th>Nachricht</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            @foreach ( var note in po?.Notes )
                                                            {
                                                                <tr>
                                                                    <td>@note.Code</td>
                                                                    <td>@note.ErrorMessage</td>
                                                                    <td>@note.Message</td>

                                                                </tr>
                                                            }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            }


                                        </div>

                                    </div>
                                </a>
                            }
                        </div>

                    </th>
                }
            </tr>
        }

        </tbody>
    </table>


</div>