<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
@{ Html.RenderPartial( "_HeaderNavBar" ); }
<div class="container body-content">
    @RenderBody()
</div>
  
<footer class="navbar-fixed-bottom">
    <div class="bg-intigena-footer">
        <span class="text-muted footer-text">&copy; @DateTime.Now.Year - INTIGENA Hygienic Solutions</span>
    </div>
</footer>

@RenderSection( "scripts", false )
</body>
</html>